body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.fields {
  width: 100%;
  margin-bottom: 1rem;
}

.grid-content {
  padding: 1rem
}

.vote-score {
  padding-left: 1.5rem
}